In [1]:
import pandas as pd
import numpy as np

In [12]:
x = np.random.randint(0,50,size=(100,2))
df = pd.DataFrame(x, columns=['A','B'])

In [13]:
df.head()

    A   B
0  26  10
1  47  38
2  33  30
3  24   6
4  18  14

In [17]:
df['X'] = (df.B - df.A)/df.A

df.head()

    A   B         X
0  26  10  0.384615
1  47  38  0.808511
2  33  30  0.909091
3  24   6  0.250000
4  18  14  0.777778

In [9]:
df.value_counts()

512